.infection-table-card {
  padding: 0 !important;
  overflow-y: scroll;
  overflow-x: auto;
  max-height: 30rem;
  width: 100%;
}

.infection-table-content {

}

.infection-table-thead > tr {
}

.infection-table {
  width: 100%;
}