.infection-table-card {
  padding: 0 !important;
}

.infection-table-content {
  display: block;
  overflow-y: overlay;
  overflow-x: auto;
  max-height: 30rem;
  width: 100%;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}

.infection-table-thead > tr {
}

.infection-table {
  width: 100%;
}