@import "~@blueprintjs/core/lib/scss/variables";

.infection-card {
  width: max-content;
  //background-color: $light-gray5 !important;
}

.statistic {
  font-size: 4rem;
  clear: both;
  margin: 0 0 -0.5rem;
}

.statistic-container {
  text-align: center;
}

.statistic-info {
  font-family: monospace;
  margin-top: 0;
}

.statistic-label {
  font-family: monospace;
  text-align: center;
  font-weight: bold;
}