.maps-container {
  text-align: center;
}

.map {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-height: 80vh;
  max-width: 100vw;
}

.map-card {
  padding: 1rem !important;
  display: inline-block;
  text-align: center;
  width: 75%;
}

.map-selector {
  display: inline-block !important;
}

.map-selector > div {
  display: inline-block !important;
}