@import "~@blueprintjs/core/lib/scss/variables";

.infection-card {
  width: max-content;
  //background-color: $light-gray5 !important;
}

.statistic {
  font-size: 5rem;
  margin: 0;
}

.statistic-container {
  text-align: center;
}

.statistic-label {
  font-family: monospace;
  text-align: center;
}